# Titanic Passenger Clusters with Mean Shift

In this dataset, we will use the famous Titanic Passengers dataset to test out a mean shift model, and see if the model's clusters can give us any insight into what determined if a passenger survuved or died.

Let's start by importing the linraries we will be using and loading the dataset.

In [1]:
import numpy as np
from sklearn.cluster import MeanShift, KMeans
from sklearn import preprocessing, cross_validation
import pandas as pd
import matplotlib.pyplot as plt


'''
Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
survival Survival (0 = No; 1 = Yes)
name Name
sex Sex
age Age
sibsp Number of Siblings/Spouses Aboard
parch Number of Parents/Children Aboard
ticket Ticket Number
fare Passenger Fare (British pound)
cabin Cabin
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
boat Lifeboat
body Body Identification Number
home.dest Home/Destination
'''

df = pd.read_excel('titanic.xls')

C:\Users\Drew\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Let's make a copy of the df so that we can see values as text instead of ints at the end. We must convert qualifiable values to ints for the model, and wil use the copy of the df to return the text values after. We will make a function for this conversion below.

In [2]:
original_df = pd.DataFrame.copy(df)
df.drop(['body','name'], 1, inplace=True)
df.fillna(0,inplace=True)

def handle_non_numerical_data(df):
    
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents) 
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1 
            df[column] = list(map(convert_to_int,df[column]))

    return df

We will now run the conversion function on the df, and drop un-needed fields.

In [3]:
df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'], 1, inplace=True)

Now we will create and train our model.

In [4]:
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = MeanShift()
clf.fit(X)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

We will now create a placeholder column for where we will be assigning a cluster group to each passenger. We will then iterate through each passenger and fill in the placeholder column by assigning them the appropriate cluster group. We will then count how many clusters the model created.

In [5]:
labels = clf.labels_
cluster_centers = clf.cluster_centers_

original_df['cluster_group'] = np.nan

for i in range(len(X)):
    original_df['cluster_group'].iloc[i] = labels[i]

n_clusters_ = len(np.unique(labels))
print(n_clusters_)

C:\Users\Drew\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

4

We would like to check if the model's clusters reflect chances of survival in any way. Let's calculate survival rates per cluster.

In [6]:
survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ]
    survival_cluster = temp_df[  (temp_df['survived'] == 1) ]

    survival_rate = len(survival_cluster) / len(temp_df)
    print(i,survival_rate)
    survival_rates[i] = survival_rate
    
#print(survival_rates)

0 0.3723150357995227
1 1.0
2 0.6944444444444444
3 0.1

We should now explore these clusters to see if we can get any valuable insight. We can do this by using a where clause, only pulling data from rows where the cluster group assigned matches what we want.

In [7]:
print(original_df[(original_df['cluster_group']==2)])
print(original_df[(original_df['cluster_group']==2)].describe())

     pclass  survived                                               name  \
10        1         0                             Astor, Col. John Jacob
11        1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
16        1         0                           Baxter, Mr. Quigg Edmond
17        1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
32        1         1                            Bonnell, Miss. Caroline
54        1         1                Carter, Master. William Thornton II
55        1         1                          Carter, Miss. Lucile Polk
56        1         1                         Carter, Mr. William Ernest
57        1         1          Carter, Mrs. William Ernest (Lucile Polk)
61        1         1  Cavendish, Mrs. Tyrell William (Julia Florence...
97        1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
103       1         1                      Endres, Miss. Caroline Louise
111       1         1                     Fortune, Miss. Alice Elizabeth
112       1         1                         Fortune, Miss. Ethel Flora
113       1         1                         Fortune, Miss. Mabel Helen
114       1         0                     Fortune, Mr. Charles Alexander
115       1         0                                  Fortune, Mr. Mark
116       1         1                Fortune, Mrs. Mark (Mary McDougald)
129       1         1                               Geiger, Miss. Amalie
173       1         0                                 Keeping, Mr. Edwin
192       1         1                               Lurette, Miss. Elise
193       1         1                  Madill, Miss. Georgette Alexandra
215       1         0                         Newell, Mr. Arthur Webster
238       1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
249       1         1                        Ryerson, Master. John Borie
250       1         1                         Ryerson, Miss. Emily Borie
251       1         1              Ryerson, Miss. Susan Parker "Suzette"
252       1         0                         Ryerson, Mr. Arthur Larned
253       1         1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
285       1         0                                 Straus, Mr. Isidor
286       1         0             Straus, Mrs. Isidor (Rosalie Ida Blun)
289       1         1                                Taussig, Miss. Ruth
309       1         1                           Wick, Miss. Mary Natalie
312       1         0                         Widener, Mr. George Dunton
313       1         0                          Widener, Mr. Harry Elkins
314       1         1       Widener, Mrs. George Dunton (Eleanor Elkins)

        sex   age  sibsp  parch    ticket      fare            cabin embarked  \
10     male  47.0      1      0  PC 17757  227.5250          C62 C64        C
11   female  18.0      1      0  PC 17757  227.5250          C62 C64        C
16     male  24.0      0      1  PC 17558  247.5208          B58 B60        C
17   female  50.0      0      1  PC 17558  247.5208          B58 B60        C
32   female  30.0      0      0     36928  164.8667               C7        S
54     male  11.0      1      2    113760  120.0000          B96 B98        S
55   female  14.0      1      2    113760  120.0000          B96 B98        S
56     male  36.0      1      2    113760  120.0000          B96 B98        S
57   female  36.0      1      2    113760  120.0000          B96 B98        S
61   female  76.0      1      0     19877   78.8500              C46        S
97   female  27.0      1      1  PC 17558  247.5208          B58 B60        C
103  female  38.0      0      0  PC 17757  227.5250              C45        C
111  female  24.0      3      2     19950  263.0000      C23 C25 C27        S
112  female  28.0      3      2     19950  263.0000      C23 C25 C27        S
113  female  23.0      3      2     19950  263.0000      C23 C25 C27        S
114    male  19.0      3      2     19950  263.0000      C23 C25 C27        S
115    male  64.0      1      4     19950  263.0000      C23 C25 C27        S
116  female  60.0      1      4     19950  263.0000      C23 C25 C27        S
129  female  35.0      0      0    113503  211.5000             C130        C
173    male  32.5      0      0    113503  211.5000             C132        C
192  female  58.0      0      0  PC 17569  146.5208              B80        C
193  female  15.0      0      1     24160  211.3375               B5        S
215    male  58.0      0      2     35273  113.2750              D48        C
238  female  43.0      0      1     24160  211.3375               B3        S
249    male  13.0      2      2  PC 17608  262.3750  B57 B59 B63 B66        C
250  female  18.0      2      2  PC 17608  262.3750  B57 B59 B63 B66        C
251  female  21.0      2      2  PC 17608  262.3750  B57 B59 B63 B66        C
252    male  61.0      1      3  PC 17608  262.3750  B57 B59 B63 B66        C
253  female  48.0      1      3  PC 17608  262.3750  B57 B59 B63 B66        C
285    male  67.0      1      0  PC 17483  221.7792          C55 C57        S
286  female  63.0      1      0  PC 17483  221.7792          C55 C57        S
289  female  18.0      0      2    110413   79.6500              E68        S
309  female  31.0      0      2     36928  164.8667               C7        S
312    male  50.0      1      1    113503  211.5000              C80        C
313    male  27.0      0      2    113503  211.5000              C82        C
314  female  50.0      1      1    113503  211.5000              C80        C

    boat   body                        home.dest  cluster_group
10   NaN  124.0                     New York, NY            2.0
11     4    NaN                     New York, NY            2.0
16   NaN    NaN                     Montreal, PQ            2.0
17     6    NaN                     Montreal, PQ            2.0
32     8    NaN                   Youngstown, OH            2.0
54     4    NaN                    Bryn Mawr, PA            2.0
55     4    NaN                    Bryn Mawr, PA            2.0
56     C    NaN                    Bryn Mawr, PA            2.0
57     4    NaN                    Bryn Mawr, PA            2.0
61     6    NaN          Little Onn Hall, Staffs            2.0
97     6    NaN                     Montreal, PQ            2.0
103    4    NaN                     New York, NY            2.0
111   10    NaN                     Winnipeg, MB            2.0
112   10    NaN                     Winnipeg, MB            2.0
113   10    NaN                     Winnipeg, MB            2.0
114  NaN    NaN                     Winnipeg, MB            2.0
115  NaN    NaN                     Winnipeg, MB            2.0
116   10    NaN                     Winnipeg, MB            2.0
129    4    NaN                              NaN            2.0
173  NaN   45.0                              NaN            2.0
192  NaN    NaN                              NaN            2.0
193    2    NaN                     St Louis, MO            2.0
215  NaN  122.0                    Lexington, MA            2.0
238    2    NaN                     St Louis, MO            2.0
249    4    NaN  Haverford, PA / Cooperstown, NY            2.0
250    4    NaN  Haverford, PA / Cooperstown, NY            2.0
251    4    NaN  Haverford, PA / Cooperstown, NY            2.0
252  NaN    NaN  Haverford, PA / Cooperstown, NY            2.0
253    4    NaN  Haverford, PA / Cooperstown, NY            2.0
285  NaN   96.0                     New York, NY            2.0
286  NaN    NaN                     New York, NY            2.0
289    8    NaN                     New York, NY            2.0
309    8    NaN                   Youngstown, OH            2.0
312  NaN    NaN                  Elkins Park, PA            2.0
313  NaN    NaN                  Elkins Park, PA            2.0
314    4    NaN                  Elkins Park, PA            2.0
       pclass   survived        age      sibsp      parch        fare  \
count    36.0  36.000000  36.000000  36.000000  36.000000   36.000000
mean      1.0   0.694444  37.041667   0.944444   1.416667  207.410417
std       0.0   0.467177  18.073017   0.954521   1.130739   58.509153
min       1.0   0.000000  11.000000   0.000000   0.000000   78.850000
25%       1.0   0.000000  22.500000   0.000000   0.000000  164.866700
50%       1.0   1.000000  33.750000   1.000000   2.000000  221.779200
75%       1.0   1.000000  50.000000   1.000000   2.000000  262.375000
max       1.0   1.000000  76.000000   3.000000   4.000000  263.000000

             body  cluster_group
count    4.000000           36.0
mean    96.750000            2.0
std     36.782016            0.0
min     45.000000            2.0
25%     83.250000            2.0
50%    109.000000            2.0
75%    122.500000            2.0
max    124.000000            2.0

We can create separate dataframes using the same logic to separate clusters. From there, we can get even more specific, for example, 1st class passangers in cluster 2. With this info, we can see that 1st class passengers in cluster 2 had a 70% survival rate. Breaking this down further and finding what caused this clustering could then give us some valuable insight.

In [8]:
cluster_2 = original_df[(original_df['cluster_group']==2)]
cluster_2_fc = cluster_2[(cluster_2['pclass']==1)]
cluster_2_fc.describe()
#This shows that the first class passengers in cluster 2 had a 70% survival rate

,pclass,survived,age,sibsp,parch,fare,body,cluster_group
count,36.0,36.000000,36.000000,36.000000,36.000000,36.000000,4.000000,36.0
mean,1.0,0.694444,37.041667,0.944444,1.416667,207.410417,96.750000,2.0
std,0.0,0.467177,18.073017,0.954521,1.130739,58.509153,36.782016,0.0
min,1.0,0.000000,11.000000,0.000000,0.000000,78.850000,45.000000,2.0
25%,1.0,0.000000,22.500000,0.000000,0.000000,164.866700,83.250000,2.0
50%,1.0,1.000000,33.750000,1.000000,2.000000,221.779200,109.000000,2.0
75%,1.0,1.000000,50.000000,1.000000,2.000000,262.375000,122.500000,2.0
max,1.0,1.000000,76.000000,3.000000,4.000000,263.000000,124.000000,2.0

You may have noticed group 1 has a 100% survival rate, and group 3's survival rate was as low as 10%. As we can see, the model was able to group the passengers in a way that can help us determine what factors led to death or survival, all without us programming it to do so.