# Titanic Passenger Clusters with Mean Shift

In this dataset, we will use the famous Titanic Passengers dataset to test out a mean shift model, and see if the model's clusters can give us any insight into what determined if a passenger survuved or died.

Let's start by importing the linraries we will be using and loading the dataset.

In [1]:
import numpy as np
from sklearn.cluster import MeanShift, KMeans
from sklearn import preprocessing, model_selection
import matplotlib.pyplot as plt
import pandas as pd


'''
Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
survival Survival (0 = No; 1 = Yes)
name Name
sex Sex
age Age
sibsp Number of Siblings/Spouses Aboard
parch Number of Parents/Children Aboard
ticket Ticket Number
fare Passenger Fare (British pound)
cabin Cabin
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
boat Lifeboat
body Body Identification Number
home.dest Home/Destination
'''

df = pd.read_excel('titanic.xls')

Let's make a copy of the df so that we can see values as text instead of ints at the end. We must convert qualifiable values to ints for the model, and wil use the copy of the df to return the text values after. We will make a function for this conversion below.

In [2]:
original_df = pd.DataFrame.copy(df)
df.drop(['body','name'], 1, inplace=True)
df.fillna(0,inplace=True)

def handle_non_numerical_data(df):
    
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents) 
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1 
            df[column] = list(map(convert_to_int,df[column]))

    return df

We will now run the conversion function on the df, and drop un-needed fields.

In [3]:
df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'], 1, inplace=True)

Now we will create and train our model.

In [4]:
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = MeanShift()
clf.fit(X)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

We will now create a placeholder column for where we will be assigning a cluster group to each passenger. We will then iterate through each passenger and fill in the placeholder column by assigning them the appropriate cluster group. We will then count how many clusters the model created.

In [5]:
labels = clf.labels_
cluster_centers = clf.cluster_centers_

original_df['cluster_group'] = np.nan

for i in range(len(X)):
    original_df['cluster_group'].iloc[i] = labels[i]

n_clusters_ = len(np.unique(labels))
print(n_clusters_)

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

4

We would like to check if the model's clusters reflect chances of survival in any way. Let's calculate survival rates per cluster.

In [6]:
survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ]
    survival_cluster = temp_df[  (temp_df['survived'] == 1) ]

    survival_rate = len(survival_cluster) / len(temp_df)
    print(i,survival_rate)
    survival_rates[i] = survival_rate
    
#print(survival_rates)

0 0.37170263788968827
1 1.0
2 0.6818181818181818
3 0.1

We should now explore these clusters to see if we can get any valuable insight. We can do this by using a where clause, only pulling data from rows where the cluster group assigned matches what we want.

In [7]:
print(original_df[(original_df['cluster_group']==2)])
print(original_df[(original_df['cluster_group']==2)].describe())

     pclass  survived                                               name  \
1         1         1                     Allison, Master. Hudson Trevor
2         1         0                       Allison, Miss. Helen Loraine
3         1         0               Allison, Mr. Hudson Joshua Creighton
4         1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
10        1         0                             Astor, Col. John Jacob
11        1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
16        1         0                           Baxter, Mr. Quigg Edmond
17        1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
23        1         1                              Bidois, Miss. Rosalie
24        1         1                                  Bird, Miss. Ellen
35        1         1                           Bowen, Miss. Grace Scott
66        1         1                        Chaudanson, Miss. Victorine
78        1         1  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
97        1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
103       1         1                      Endres, Miss. Caroline Louise
111       1         1                     Fortune, Miss. Alice Elizabeth
112       1         1                         Fortune, Miss. Ethel Flora
113       1         1                         Fortune, Miss. Mabel Helen
114       1         0                     Fortune, Mr. Charles Alexander
115       1         0                                  Fortune, Mr. Mark
116       1         1                Fortune, Mrs. Mark (Mary McDougald)
129       1         1                               Geiger, Miss. Amalie
139       1         1      Graham, Mrs. William Thompson (Edith Junkins)
173       1         0                                 Keeping, Mr. Edwin
192       1         1                               Lurette, Miss. Elise
193       1         1                  Madill, Miss. Georgette Alexandra
215       1         0                         Newell, Mr. Arthur Webster
238       1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
249       1         1                        Ryerson, Master. John Borie
250       1         1                         Ryerson, Miss. Emily Borie
251       1         1              Ryerson, Miss. Susan Parker "Suzette"
252       1         0                         Ryerson, Mr. Arthur Larned
253       1         1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
273       1         1                    Spedden, Master. Robert Douglas
274       1         1                       Spedden, Mr. Frederic Oakley
275       1         1  Spedden, Mrs. Frederic Oakley (Margaretta Corn...
285       1         0                                 Straus, Mr. Isidor
286       1         0             Straus, Mrs. Isidor (Rosalie Ida Blun)
308       1         1              White, Mrs. John Stuart (Ella Holmes)
309       1         1                           Wick, Miss. Mary Natalie
312       1         0                         Widener, Mr. George Dunton
313       1         0                          Widener, Mr. Harry Elkins
314       1         1       Widener, Mrs. George Dunton (Eleanor Elkins)
322       1         1                           Young, Miss. Marie Grice

        sex      age  sibsp  parch    ticket      fare            cabin  \
1      male   0.9167      1      2    113781  151.5500          C22 C26
2    female   2.0000      1      2    113781  151.5500          C22 C26
3      male  30.0000      1      2    113781  151.5500          C22 C26
4    female  25.0000      1      2    113781  151.5500          C22 C26
10     male  47.0000      1      0  PC 17757  227.5250          C62 C64
11   female  18.0000      1      0  PC 17757  227.5250          C62 C64
16     male  24.0000      0      1  PC 17558  247.5208          B58 B60
17   female  50.0000      0      1  PC 17558  247.5208          B58 B60
23   female  42.0000      0      0  PC 17757  227.5250              NaN
24   female  29.0000      0      0  PC 17483  221.7792              C97
35   female  45.0000      0      0  PC 17608  262.3750              NaN
66   female  36.0000      0      0  PC 17608  262.3750              B61
78   female  64.0000      0      2  PC 17756   83.1583              E45
97   female  27.0000      1      1  PC 17558  247.5208          B58 B60
103  female  38.0000      0      0  PC 17757  227.5250              C45
111  female  24.0000      3      2     19950  263.0000      C23 C25 C27
112  female  28.0000      3      2     19950  263.0000      C23 C25 C27
113  female  23.0000      3      2     19950  263.0000      C23 C25 C27
114    male  19.0000      3      2     19950  263.0000      C23 C25 C27
115    male  64.0000      1      4     19950  263.0000      C23 C25 C27
116  female  60.0000      1      4     19950  263.0000      C23 C25 C27
129  female  35.0000      0      0    113503  211.5000             C130
139  female  58.0000      0      1  PC 17582  153.4625             C125
173    male  32.5000      0      0    113503  211.5000             C132
192  female  58.0000      0      0  PC 17569  146.5208              B80
193  female  15.0000      0      1     24160  211.3375               B5
215    male  58.0000      0      2     35273  113.2750              D48
238  female  43.0000      0      1     24160  211.3375               B3
249    male  13.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
250  female  18.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
251  female  21.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
252    male  61.0000      1      3  PC 17608  262.3750  B57 B59 B63 B66
253  female  48.0000      1      3  PC 17608  262.3750  B57 B59 B63 B66
273    male   6.0000      0      2     16966  134.5000              E34
274    male  45.0000      1      1     16966  134.5000              E34
275  female  40.0000      1      1     16966  134.5000              E34
285    male  67.0000      1      0  PC 17483  221.7792          C55 C57
286  female  63.0000      1      0  PC 17483  221.7792          C55 C57
308  female  55.0000      0      0  PC 17760  135.6333              C32
309  female  31.0000      0      2     36928  164.8667               C7
312    male  50.0000      1      1    113503  211.5000              C80
313    male  27.0000      0      2    113503  211.5000              C82
314  female  50.0000      1      1    113503  211.5000              C80
322  female  36.0000      0      0  PC 17760  135.6333              C32

    embarked boat   body                           home.dest  cluster_group
1          S   11    NaN     Montreal, PQ / Chesterville, ON            2.0
2          S  NaN    NaN     Montreal, PQ / Chesterville, ON            2.0
3          S  NaN  135.0     Montreal, PQ / Chesterville, ON            2.0
4          S  NaN    NaN     Montreal, PQ / Chesterville, ON            2.0
10         C  NaN  124.0                        New York, NY            2.0
11         C    4    NaN                        New York, NY            2.0
16         C  NaN    NaN                        Montreal, PQ            2.0
17         C    6    NaN                        Montreal, PQ            2.0
23         C    4    NaN                                 NaN            2.0
24         S    8    NaN                                 NaN            2.0
35         C    4    NaN                     Cooperstown, NY            2.0
66         C    4    NaN                                 NaN            2.0
78         C   14    NaN                        Lakewood, NJ            2.0
97         C    6    NaN                        Montreal, PQ            2.0
103        C    4    NaN                        New York, NY            2.0
111        S   10    NaN                        Winnipeg, MB            2.0
112        S   10    NaN                        Winnipeg, MB            2.0
113        S   10    NaN                        Winnipeg, MB            2.0
114        S  NaN    NaN                        Winnipeg, MB            2.0
115        S  NaN    NaN                        Winnipeg, MB            2.0
116        S   10    NaN                        Winnipeg, MB            2.0
129        C    4    NaN                                 NaN            2.0
139        S    3    NaN                       Greenwich, CT            2.0
173        C  NaN   45.0                                 NaN            2.0
192        C  NaN    NaN                                 NaN            2.0
193        S    2    NaN                        St Louis, MO            2.0
215        C  NaN  122.0                       Lexington, MA            2.0
238        S    2    NaN                        St Louis, MO            2.0
249        C    4    NaN     Haverford, PA / Cooperstown, NY            2.0
250        C    4    NaN     Haverford, PA / Cooperstown, NY            2.0
251        C    4    NaN     Haverford, PA / Cooperstown, NY            2.0
252        C  NaN    NaN     Haverford, PA / Cooperstown, NY            2.0
253        C    4    NaN     Haverford, PA / Cooperstown, NY            2.0
273        C    3    NaN                     Tuxedo Park, NY            2.0
274        C    3    NaN                     Tuxedo Park, NY            2.0
275        C    3    NaN                     Tuxedo Park, NY            2.0
285        S  NaN   96.0                        New York, NY            2.0
286        S  NaN    NaN                        New York, NY            2.0
308        C    8    NaN  New York, NY / Briarcliff Manor NY            2.0
309        S    8    NaN                      Youngstown, OH            2.0
312        C  NaN    NaN                     Elkins Park, PA            2.0
313        C  NaN    NaN                     Elkins Park, PA            2.0
314        C    4    NaN                     Elkins Park, PA            2.0
322        C    8    NaN       New York, NY / Washington, DC            2.0
       pclass   survived        age      sibsp      parch        fare  \
count    44.0  44.000000  44.000000  44.000000  44.000000   44.000000
mean      1.0   0.681818  36.964016   0.795455   1.272727  208.069316
std       0.0   0.471155  17.847674   0.929605   1.107346   52.453703
min       1.0   0.000000   0.916700   0.000000   0.000000   83.158300
25%       1.0   0.000000  24.000000   0.000000   0.000000  151.550000
50%       1.0   1.000000  36.000000   1.000000   1.000000  221.779200
75%       1.0   1.000000  50.000000   1.000000   2.000000  262.375000
max       1.0   1.000000  67.000000   3.000000   4.000000  263.000000

             body  cluster_group
count    5.000000           44.0
mean   104.400000            2.0
std     36.156604            0.0
min     45.000000            2.0
25%     96.000000            2.0
50%    122.000000            2.0
75%    124.000000            2.0
max    135.000000            2.0

We can create separate dataframes using the same logic to separate clusters. From there, we can get even more specific, for example, 1st class passangers in cluster 2. With this info, we can see that 1st class passengers in cluster 2 had a 68% survival rate. Breaking this down further and finding what caused this clustering could then give us some valuable insight.

In [8]:
cluster_2 = original_df[(original_df['cluster_group']==2)]
cluster_2_fc = cluster_2[(cluster_2['pclass']==1)]
cluster_2_fc.describe()
#This shows that the first class passengers in cluster 2 had a 70% survival rate

,pclass,survived,age,sibsp,parch,fare,body,cluster_group
count,44.0,44.000000,44.000000,44.000000,44.000000,44.000000,5.000000,44.0
mean,1.0,0.681818,36.964016,0.795455,1.272727,208.069316,104.400000,2.0
std,0.0,0.471155,17.847674,0.929605,1.107346,52.453703,36.156604,0.0
min,1.0,0.000000,0.916700,0.000000,0.000000,83.158300,45.000000,2.0
25%,1.0,0.000000,24.000000,0.000000,0.000000,151.550000,96.000000,2.0
50%,1.0,1.000000,36.000000,1.000000,1.000000,221.779200,122.000000,2.0
75%,1.0,1.000000,50.000000,1.000000,2.000000,262.375000,124.000000,2.0
max,1.0,1.000000,67.000000,3.000000,4.000000,263.000000,135.000000,2.0

You may have noticed group 1 has a 100% survival rate, and group 3's survival rate was as low as 10%. As we can see, the model was able to group the passengers in a way that can help us determine what factors led to death or survival, all without us programming it to do so.